README.md
core-service/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

currency-service/HELP.md
currency-service/target/

### STS ###
core-service/.apt_generated
core-service/.classpath
core-service/.factorypath
core-service/.project
core-service/.settings
core-service/.springBeans
core-service/.sts4-cache
currency-service/.apt_generated
currency-service/.classpath
currency-service/.factorypath
currency-service/.project
currency-service/.settings
currency-service/.springBeans
currency-service/.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/
